body{
    /* background-color: aqua; */
    padding: 0;
    margin: 0;
}

.contenedor{
    max-width: 600px;
    width: 45vw;
    max-height: 640px;
    /* height: 98%; */
    /* display: flex;
    flex-direction: column; */
    justify-content: space-between;
    box-shadow: 4px 4px 6px;
    overflow: hidden;
}

.contenedor2{
    max-width: 600px;
    width: 45vw;
    min-height: 635px;
    /* height: 98%; */
    /* display: flex;
    flex-direction: column; */
    justify-content: space-between;
    box-shadow: 4px 4px 6px;
    overflow: scroll;
    padding-top: 15px;
}

.header{
    width: 100%;
    background-color: rgb(231, 217, 137);
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h5{
    color: rgb(95, 91, 91);
}

.cuerpo{
    width: 100%;
    height: auto;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.contactos{
    width: 40%;
    min-height: 450px;
    height: auto;
    border-right: solid 3px rgb(172, 167, 167);
    word-wrap: break-word;
    overflow: hidden;
}

.trabajos{
    width: 55%;
    height: auto;
    word-wrap: break-word;
}

.contenedor-padre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100vw;
    height: 100vh;
}

.divsito{
    display:flex;
    justify-content: space-around;
}

.contactos2{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.email{
    margin-left: 16px;
}

.linkedin{
    margin-left: 2px;
}

.twitter{
    margin-left: 23px;
}

.facebook{
    margin-left: 3px;
}

.carrera{
    margin-left: 7px;
}

.hasta{
    margin-left: 5px;
}

.boton-estudio{
    width: 60px;
    height: 25px;
}

.div-buton{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.curso{
    margin-left: 17px;
}

.hasta{
    margin-left: 4px;
}

.cargo{
    margin-left: 18px;
}

.trabajoHasta{
    margin-left: 5px;
}

.div-contactos{
    border-top: grey solid 2px;
    padding-bottom: 11px;
    padding-left: 10px;
}

.div-cursos{
    border-top: grey solid 2px;
    padding-bottom: 11px;
    padding-left: 10px;
}

.div-datospersonales{
padding: 11px 0;
background-color: rgb(236, 231, 231);
}

.div-trabajo{
    border-top: grey solid 2px;
    padding-bottom: 11px;
    background-color: rgb(236, 231, 231);
    padding-left: 10px;
}

.div-estudios{
    border-top: grey solid 2px;
    padding-bottom: 11px;
    background-color: rgb(236, 231, 231);
    padding-left: 10px;
}

.boton-borrar{
    width: 25px;
    height: 25px;
    background-color:rgb(211, 213, 213);
    align-items: center;
    padding: 0;
    border-radius: 0.3rem;

}





